@model TheGameCave.MVC.ViewModels.ProductDetailViewModel

@*<h1>Details</h1>
<div class="panel panel-default">
    <div class="panel-heading">@Model.ProductDetail.Name</div>
    <div class="panel-body">
        <ul>
            <li><small>@Model.ProductDetail.PlayingTime</small></li>
        </ul>
        <img src="https://localhost:5001/api/products/imagebyname/@Model.ProductDetail.PhotoUrl" alt="Image of the product" />
        <p>
            Summary: <br />
            <small><i>@Model.ProductDetail.Description</i></small>
        </p>
        <p><i>&copy; @Model.ProductDetail.PublisherName</i></p>
    </div>
    <div class="panel-footer">
        <a asp-controller="Products" asp-action="Index" class="btn btn-primary">Back to list</a>
    </div>
</div>*@


<div class="row justify-content-center">
    <div class="col-md-4">
        <img src="https://localhost:5001/api/products/imagebyname/@Model.ProductDetail.PhotoUrl" alt="Image of the product" width="400"/>
    </div>
    <div class="col-md-7">
        <h1>@Model.ProductDetail.Name</h1>

        <h3>€ @Model.ProductDetail.Price</h3>
        <p>@Model.ProductDetail.Description</p>

        <table class="table">
            <tr>
                <th scope="row">Playing time</th>
                <td>@Model.ProductDetail.PlayingTime minutes</td>
            </tr>
            <tr>
                <th scope="row">Number of players</th>
                <td>@Model.ProductDetail.NumberOfPlayers</td>
            </tr>
            <tr>
                <th scope="row">Minimum age</th>
                <td>@Model.ProductDetail.MinimumAge</td>
            </tr>
            <tr>
                <th scope="row">Category</th>
                <td>@Model.ProductDetail.CategoryName</td>
            </tr>
            <tr>
                <th scope="row">Publisher</th>
                <td>@Model.ProductDetail.PublisherName</td>
            </tr>
            <tr>
                <th scope="row">Language</th>
                <td>@Model.ProductDetail.Language</td>
            </tr>
        </table>
    </div>
</div>