@model TheGameCave.MVC.ViewModels.ProductDetailViewModel

<a href="javascript: history.go(-1)" class="btn btn-dark btn-lg btn-back align-self-end">
    <i class="fas fa-arrow-alt-circle-left"></i> Go Back
</a>

<div class="row justify-content-center">
    <div class="col-md-4">
        <img src="https://localhost:5001/api/products/gameimagebyname/@Model.ProductDetail.PhotoUrl" alt="Image of the product" width="400" /><br />
        <a href="#" class="btn btn-dark btn-lg">
            <i class="fas fa-shopping-cart"></i>   Add To Cart
        </a>
    </div>
    <div class="col-md-7">
        <h1>@Model.ProductDetail.Name</h1>

        <h3>€ @Model.ProductDetail.Price</h3>
        <p>@Model.ProductDetail.Description</p>

        <table class="table">
            <tr>
                <th scope="row">Playing time</th>
                <td>@Model.ProductDetail.PlayingTime minutes</td>
            </tr>
            <tr>
                <th scope="row">Number of players</th>
                <td>@Model.ProductDetail.NumberOfPlayers</td>
            </tr>
            <tr>
                <th scope="row">Minimum age</th>
                <td>@Model.ProductDetail.MinimumAge</td>
            </tr>
            <tr>
                <th scope="row">Category</th>
                <td>@Model.ProductDetail.CategoryName</td>
            </tr>
            <tr>
                <th scope="row">Publisher</th>
                <td>@Model.ProductDetail.PublisherName</td>
            </tr>
            <tr>
                <th scope="row">Language</th>
                <td>@Model.ProductDetail.Language</td>
            </tr>
        </table>
    </div>
</div>